<div class="search-form {{ in_menu ? 'menu-item' }}">
  <div class="container">
    <form action="/suche" method="get" role="search">
      <div class="search-form__input-wrapper">
        <div class="search-form__icon search-form__icon--search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input class="search-form__input-wrapper-submit"
          type="search"
          name="keywords"
          data-drupal-selector="edit-search"
          value=""
          required
          autocomplete="off">
        <div class="search-form__icon search-form__icon--reset">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <button class="button button--primary search-form__submit" aria-label="{{ 'Suchen' | t }}">
        <span>{{ 'Suchen' | t }}</span>
      </button>
    </form>
  </div>
</div>
