.paragraph--text-image-row--image-right,
.paragraph--text-image-row--image-middle,
.paragraph--text-image-row--image-left {
    .paragraph-text-image__image-wrapper {
        max-width: 100%;
        @include spacing(margin, very-small, bottom);
        @include spacing(margin, tiny, top);
        
        @include bp(s) {
            max-width: min(100%, calc(var(--max-width, 25%) + 10%));
        }
        
        @include bp(m) {
            max-width: min(100%, calc(var(--max-width, 25%) + 5%));
        }
        
        @include bp(l) {
            max-width: var(--max-width, 25%);
        }
    }
}


.paragraph--text-image-row--image-right {
    .paragraph-text-image__image-wrapper {
        @include bp(s) {
            float: right;
            @include spacing(margin, large, left);
        }
    }
}

.paragraph--text-image-row--image-middle {
    .paragraph-text-image__image-wrapper {
        @include bp(s) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.paragraph--text-image-row--image-left {
    .paragraph-text-image__image-wrapper {
        @include bp(s) {
            float: left;
            @include spacing(margin, large, right);
        }
    }
}
