{% extends "paragraph.html.twig" %}

{% set link = {
  modifier: 'content-boxes',
  url: content.field_cta[0]['#url'],
  text: content.field_cta[0]['#title'],
  target: content.field_cta[0]['#options']['attributes']['target'] == '_blank',
  'aria-describedby': 'paragraph_' ~ paragraph.id() ~ '_title',
} %}

{% set responsiveImage = {
  images: content.field_image[0].images,
  lazy: true,
} %}

{% block paragraphContent %}
  <div class="content-box">
    <div class="content-box__image">
      {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
    </div>
    <div class="content-box__title">
      <h3 class="h4" id="paragraph_{{ paragraph.id() }}_title">{{ content.field_headline[0]['#context'].value }}</h3>
    </div>
    {% if content.field_description[0] %}
      <div class="content-box__text">
        <p>{{ content.field_description[0]['#context'].value }}</p>
      </div>
    {% endif %}
    {% if content.field_cta[0] %}
      <div class="content-box__link">
        {# text link #}
        {% include '@ddbp/partials/link.html.twig' with link %}
      </div>
    {% endif %}
  </div>
{% endblock %}
