{% extends "paragraph.html.twig" %}
{% block paragraphContent %}
  {% set positions = {
      'Links': 'left',
      'Rechts': 'right',
      'Mittig': 'middle'
    }
  %}
  
  {% set position = positions[content.field_image_position[0]['#markup']] ?? 'left' %}
  {% set headlineText = content.field_headline[0]['#context'].value|default('') %}
  {% set hasImage = content.field_image['#items']|default([])|length %}
  {% set paragraphText = content.field_text|render %}
  
  {% set rowClasses = [
    'paragraph--text-image-row',
    'paragraph--text-image-row--image-' ~ position,
  ] %}
  
  <div class="{{ rowClasses|join(' ') }}">
    {% if headlineText %}
      <h2 class="paragraph-collage__headline">
        {{ headlineText }}
      </h2>
    {% endif %}
    {% if hasImage %}
      {% set image_size = content.field_image_size ? content.field_image_size.0['#markup'] : '25%' %}
      <div class="paragraph-text-image__image-wrapper" style="--max-width: {{ image_size }};">
        <div class="paragraph-text-image__image">
          {% set imageField = content.field_image[0]|default(null) %}
          {% if imageField and imageField.images %}
            {% set responsiveImage = {
              images: imageField.images,
              description: true,
              lazy: true,
            } %}
            {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if paragraphText|trim %}
      <div class="paragraph-text-image__content-wrapper">
        <div class="paragraph-text-image__content">
            <div class="paragraph-text-image__text">
              {{ paragraphText }}
            </div>
        </div>
      </div>
   {% endif %}
  </div>
{% endblock %}
