{% extends "paragraph.html.twig" %}

{% set cta = content.field_cta[0]|default(null) %}
{% set descriptionText = content.field_description[0]['#context'].value|default('') %}

{% set link = {
  modifier: 'content-boxes',
  url: cta ? cta['#url'] : null,
  text: cta ? cta['#title'] : '',
  target: cta and cta['#options']['attributes']['target'] == '_blank',
  'aria-describedby': 'paragraph_' ~ paragraph.id() ~ '_title',
} %}

{% set responsiveImage = {
  images: (content.field_image[0]|default(null) and content.field_image[0].images) ? content.field_image[0].images : [],
  lazy: true,
} %}

{% block paragraphContent %}
  <div class="content-box">
    <div class="content-box__image">
      {% if content.field_image[0]|default(null) %}
        {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
      {% endif %}
    </div>
    <div class="content-box__title">
      <h3 class="h4" id="paragraph_{{ paragraph.id() }}_title">{{ content.field_headline[0]['#context'].value|default('') }}</h3>
    </div>
    {% if descriptionText %}
      <div class="content-box__text">
        <p>{{ descriptionText }}</p>
      </div>
    {% endif %}
    {% if cta %}
      <div class="content-box__link">
        {# text link #}
        {% include '@ddbp/partials/link.html.twig' with link %}
      </div>
    {% endif %}
  </div>
{% endblock %}
