{% extends "paragraph.html.twig" %}

{% block paragraphContent %}
  {% set position = content.field_image_position[0]['#markup'] == 'Links' ? 'left' : 'right' %}
  {% set mainCta = content.field_main_cta[0]|default(null) %}
  {% set secondaryCta = content.field_secondary_cta[0]|default(null) %}
  {% set hasImage = content.field_image['#items']|default([])|length %}
  {% set headlineText = content.field_headline[0]['#context'].value|default('') %}
  {% set paragraphText = content.field_text|render %}

  {% set rowClasses = [
    'paragraph--collage-row',
    'paragraph--collage-row--image-' ~ position,
  ] %}

  {% set linkPrimary = {
    url: mainCta ? mainCta['#url'] : null,
    text: mainCta ? mainCta['#title'] : '',
    target: mainCta and mainCta['#options']['attributes']['target'] == '_blank',
    type: 'primary',
  } %}

  {% set linkSecondary = {
    url: secondaryCta ? secondaryCta['#url'] : null,
    text: secondaryCta ? secondaryCta['#title'] : '',
    target: secondaryCta and secondaryCta['#options']['attributes']['target'] == '_blank',
    type: 'secondary',
    bg: 'light',
  } %}

  <div class="{{ rowClasses|join(' ') }}">
    {% if hasImage %}
      <div class="paragraph-collage__image-wrapper">
        <div class="paragraph-collage__image">
          {% set responsiveImage = {
            images: content.field_image[0].images,
            description: true,
            lazy: true,
          } %}
          {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
        </div>
      </div>
    {% endif %}
    <div class="paragraph-collage__content-wrapper">
      <div class="paragraph-collage__content">
        {% if headlineText %}
          <h2 class="paragraph-collage__headline">
            {{ headlineText }}
          </h2>
        {% endif %}
        {% if paragraphText|trim %}
          <div class="paragraph-collage__text">
            {{ paragraphText }}
          </div>
        {% endif %}
        {% if mainCta or secondaryCta %}
          <div class="paragraph-collage__links">
            {% if mainCta %}
              {% include '@ddbp/partials/link-button.html.twig' with { link: linkPrimary } %}
            {% endif %}
            {% if secondaryCta %}
              {% include '@ddbp/partials/link-button.html.twig' with { link: linkSecondary } %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
