{% extends "paragraph.html.twig" %}

{% set cta = content.field_cta[0]|default(null) %}

{% set link = {
  modifier: 'process',
  url: cta ? cta['#url'] : null,
  text: cta ? cta['#title'] : '',
  target: cta and cta['#options']['attributes']['target'] == '_blank',
} %}

{% block paragraphContent %}
  <div class="process__title">
    <h3>{{ content.field_headline[0]['#context'].value|default('') }}</h3>
  </div>
  <div class="process_text text-formatted">
    <p>{{ content.field_description[0]['#context'].value|default('') }}</p>
  </div>
  {% if cta %}
    <div class="process__link">
      {# text link #}
      {% include '@ddbp/partials/link.html.twig' with link %}
    </div>
  {% endif %}
{% endblock %}
