{% extends "paragraph.html.twig" %}

{% set linkField = content.field_link[0]|default(null) %}
{% set link = {
  url: linkField ? linkField['#url'] : '',
  text: linkField ? linkField['#title'] : '',
  target: linkField ? linkField['#options']['attributes']['target'] == '_blank' : false,
  type: 'primary',
} %}
{% set hasLink = link.url and link.text %}

{% block paragraphContent %}
  <div class="participation-option__option-wrapper">
    <div class="participation-option__option">
      <h3>
        {{ content.field_title|render|striptags('<strong>')|trim|raw }}
      </h3>

      <div class="participation-option__text">
        {{ content.field_text }}
      </div>
    </div>

    {% if hasLink %}
      <div class="participation-option__link">
        {% include '@ddbp/partials/link-button.html.twig' with link %}
      </div>
    {% endif %}
  </div>
{% endblock %}
