{% extends "paragraph.html.twig" %}

{% block paragraphContent %}
  <p>
      <span class="facts__figure h2">
        {{ content.field_label[0]['#context'].value }}
      </span>
      <br>
      <span class="facts__fact h4">
        {{ content.field_figure[0]['#context'].value }}
      </span>
  </p>
{% endblock %}
