.event-teaser__ical,
.event-teaser-big__ical {
    @include translate(x, very-small);
    flex-shrink: 0;

    a {
        @include spacing(padding, very-small, right left);
        cursor: pointer;
    }

    i {
        @include rsa(font-size, 14px, 20px);
        @include rsa(line-height, 30px, 44px);
        color: $color-main;
    }
}

// latest upcoming on the front page
.event-teaser {
    @include rsa(min-height, 160px, 280px);
    @include spacing(padding, small, top bottom);
    @include spacing(padding, medium, right left);
    @include spacing(margin, medium, bottom);
    @include border-radius();
    display: grid;
    grid-template-columns: 1fr auto; /* Zwei Spalten: flexible Breite und automatische Breite */
    grid-template-rows: 1fr; /* Eine Zeile: Überschrift + Inhalte + Datum + Icon */
    height: 100%;
    width: 100%;
    border: 1px solid $color-darken;
    transition: box-shadow $duration-fast $easing-default;
    
    @include bp(l) {
        margin-bottom: 0;
    }
    
    @include target-bps(l xl) {
        &:hover {
            @include shadow(box-hover);
        }
    }
    
    h3 {
        word-wrap: anywhere;
        @include hyphens;
    }
    
    a {
        grid-column: 1 / 2; /* Spalte 1 */
        grid-row: 1 / 2;    /* Zeile 1 */
        color: inherit;
    }
}

.event-teaser__text {
    p {
        color: $color-grey;
    }
}

.event-teaser__ical {
    @include spacing(margin, small, left);
    grid-column: 2 / 3; /* Spalte 2 */
    grid-row: 1 / 2;    /* Zeile 1 */
    text-align: right;  /* Text nach rechts ausrichten */
    justify-self: end;  /* Inhalt horizontal rechts ausrichten */
    align-self: start;    /* Inhalt vertikal unten ausrichten */
    
    a {
        padding-left: 0px;
    }
    
    i {
        @include rsa(font-size, 16px, 20px);
        color: $color-main;
        transform: translateX(0);
        transition: transform $duration-fast $easing-default;
    }
}

.event-teaser__date {
    @include spacing(margin, tiny, top);
    @include spacing(margin, small, bottom);
    @include text(p1);
    color: $color-main;
    font-weight: font-weight(semi-bold);
}

// events views
.event-teaser-big {
    @include spacing(padding, small, top);
    @include spacing(padding, medium, right bottom left);
    @include border-radius();
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $color-darken;
    background: $color-white;
    transition: background $duration-fast $easing-default;

    @include bp(m) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        border-radius: 0;
    }

    @include bp(l) {
        &:hover {
            background: $color-bg;
        }
    }

    a {
        width: 100%;
    }

    h2 {
        color: $color-grey-dark;
    }
}

.event-teaser-big__ical {
    margin-left: auto;

    @include target-bps(l xl) {
        @include spacing(margin, very-small, left);
    }
}

.event-teaser-big__date {
    @include text(p1);
    color: $color-main;
    font-weight: font-weight(semi-bold);

    + .event-teaser-big__description {
        @include spacing(margin, tiny, top);
    }
}

.event-teaser-big__text {
    @include spacing(margin, tiny, top);
    color: $color-grey-light;
}

.event-teaser-big__text__teaser {
    font-weight: font-weight(semi-bold);
}
