{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  'node--' ~ node.bundle|clean_class ~ '-teaser-mini',
  'aggregator-teaser-mini',
] %}

{% set imageField = content.field_image[0]|default(null) %}

<div{{ attributes.addClass(classes).removeAttribute('role') }}>
  <a href="{{ url }}">
    <div class="aggregator-teaser-mini__image">
      {% if imageField and imageField.images %}
        {% set responsiveImage = { images: imageField.images } %}
        {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
      {% endif %}
    </div>
  </a>
</div>
