{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
  <div class="container">

    {# Breadcrumbs block #}
    {{ drupal_block('system_breadcrumb_block', wrapper=false) }}

    <div class="node__content">
      <a id="main-content" tabindex="-1" class="visually-hidden"></a>
      {{ content }}
    </div>
  </div>

  {# stable link placeholder #}
  <div aria-hidden="true" class="stable-link__placeholder visually-hidden">{{ get_current_path() }}</div>
</article>
